body {
    background: #202026;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

/* div {
    display: inline
} */

.container {
    /* background: skyblue;
    margin: auto;
    display: block; */
    font-family: Century Gothic Regular;
    color:white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
}

/* CSS for Header */

.header-sticky {
    position: sticky;
    top: 0;
}

.header {
    /* background: skyblue; */
    display: block;
}

.header-style {
    color: #8770b4;
    font-family: Oleo Script;
}

.header h1 {
    background: #17171B;
    /* font-family: Oleo Script; */
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0;
    /* border-bottom: 1px solid grey; */
    text-align: center;
}

/* CSS for Navigation bar */

.navigation-bar {
    margin: 0;
    background: #17171B;
}

.nav-ul {
    margin: 0;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
    padding-left: 0;
    /* border: 1px solid grey;  */
    text-align: center;
    border-bottom: 1px solid darkgray;
    list-style-type: none;
}

.nav-li {
    font-family: Oleo Script;
    display: inline-flex;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 30%;
    text-align: center;
    justify-content: space-evenly;
    /* border: 1px solid grey; */
}

.nav-li:hover {
    background-color: #666666;
    border-radius: 10px;

}

.clicked-menu {
    background: #8770b4;
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: white;
}

/* p {
    display: block;
} */

/* CSS for Paragraphs */

.body{
    display: block;
    margin: 5% 5% 15%;
}

.body-border{
    background: #555555;
    padding: 1% 1%;
    margin-top: 1%;;
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
}

.body-border em {
    text-align: right;
    display: block;
    font-size: 0.9rem;
}

.body-sub-header {
    color: white;
    font-family: Oleo Script;
}

.body-header {
    color: #ffcca8;
    font-family: Oleo Script;
}

.div-border {
    /* border: 1px solid yellow; */
    display: flex;
    text-align: justify;
    justify-content: space-between;
    /* width: 100; */
}

.reference {
    text-align: right;
}

.reference a{
    text-decoration-line: underline;
    color: #ffcca8;
}
/* Github */

.github {
    display: flex;
    align-items: center;
}


/* CSS for images */

img {
    height: 100%;
    width: 100%;
    object-fit: none;
}

.smaller-image {
    /* display: inline-flex;
    justify-content: center; */
    width: 100px;
    height: 100px;
    aspect-ratio: 3/2;
    object-fit: cover;
    border-color: Grey;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    margin-left: 1vh;
}

/* CSS for Border, Margin, Padding exampels */

.content-border {
    border: 1px solid #ffcca8;
}

.outside-box {
    background-color: grey;
    margin: 20px;
    display: inline-block;
}

.inside-box {
    background-color: #ffcca8;
    color: black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: inline-block;
    font-weight: bold;
}

#margin-0 {
    margin: 20px;
}

#margin-1 {
    margin-top: 20px;
}

#margin-2 {
    margin-right: 20px;
}

#margin-3 {
    margin-bottom: 20px;
}

#margin-4 {
    margin-left: 20px;
}

#margin-5 {
    margin: 20px 40px 60px 30px;
}

.content-box {
    background-color: #ffcca8;
    color: black;
    font-weight: bold;
    margin: 20px;
    display: inline-block;
    text-align: center;
}

#padding-0 {
    padding: 20px;
}

#padding-1 {
    padding-top: 20px;
}

#padding-2 {
    padding-right: 20px;
}

#padding-3 {
    padding-bottom: 20px;
}

#padding-4 {
    padding-left: 20px;
}

#padding-5 {
    padding: 20px 50px 30px 40px;
}

/* CSS for Footer */

footer {
    position: fixed;
    /* display: block; */
    width: 100%;
    color: #ffcca8; 
    /* right: 1rem; */
    bottom: 0px;
    /* height: 10rem; */
    background-color: #17171B;
    text-align: right;
    border-top: 1px solid darkgray;
}

footer a {
    color: #ffcca8; 
    padding-right: 1%;
}

/* Media */

/* Mobile */

@media (max-width: 430px) {
    .nav-li {
        display: inline-block;
        width: 100%;
    }
}

/* Tablet */

@media (max-width: 1024px) {

}